<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Matcher</title>
    <script
            src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
</head>
<body>

    <div id="app">
        <login-screen
            v-if="!userLoggedIn"
            v-on:user-confirmed="logIn">
        </login-screen>

        <profile-screen
            v-else
            v-bind:user-data="userData"
            v-on:offer-created="createOffer"
            v-on:demand-created="createDemand"
            v-on:offer-selected="selectOffer">
        </profile-screen>
    </div>

    <script>        
        Vue.component('login-screen', {
        data() {
            return {
                name: undefined,
                email: undefined,
                password: undefined,
                errorMessage: "",
            }
        },
        template: `
            <div>
            <input
                placeholder="name"
                v-model="name"/>

            <input
                placeholder="email"
                v-model="email" />

            <input type="password"
                placeholder="password"
                v-model="password" />

            {{ errorMessage }}

            <button v-on:click="confirmUser">login</button>
            </div>
        `,
        methods: {
            confirmUser() {
                if (!this.email) {
                    this.errorMessage = "Your email address is required";
                    return;
                }

                if (!this.password) {
                    this.errorMessage = "A password is required";
                    return;
                }

                this.errorMessage = "";

                this.$emit('user-confirmed', this.name, this.email, this.password);
            }
        }
        });

        Vue.component('profile-screen', {
            props: [ 'userData'],
            template: `
                <div>
                    <table style="width: 100%;" border="1">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Your personal information: </strong>
                                    <br />
                                    Your user id: {{userData.user.userid}}
                                    <br />
                                    Your name: {{userData.user.name}}
                                    <br />
                                    Your email-address: {{userData.user.email}}
                                    <br />
                                    Your password: {{userData.user.password}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Your offers:</strong>
                                    <br />
                                    <div v-for="offer in userData.offerArray">
                                        Content type: {{offer.contentType}}
                                        <br />
                                        Content quantity: {{offer.contentQuantity}}
                                        <br />
                                        Expiry date: {{offer.expiryDate}}
                                        <br />
                                        Address:
                                        <br />
                                        {{offer.address.streetName}}, {{offer.address.houseNumber}}
                                        <br />
                                        {{offer.address.postCode}}, {{offer.address.city}}
                                        <br />
                                        ______
                                    </div>
                                </td>
                                <td>
                                    <input
                                        placeholder="contentType"
                                        v-model="contentType"/>
                                    <input
                                        placeholder="contentQuantity"
                                        v-model="contentQuantity"/>
                                    <input 
                                        type="date"
                                        placeholder="expiryDate: dd mm yyyy"
                                        v-model="expiryDate"/>
                                    <input
                                        placeholder="streetName"
                                        v-model="streetName"/>
                                    <input
                                        placeholder="houseNumber"
                                        v-model="houseNumber"/>
                                    <input
                                        placeholder="postCode"
                                        v-model="postCode"/>
                                    <input
                                        placeholder="city"
                                        v-model="city"/>
                                    <input
                                        placeholder="country"
                                        v-model="country"/>
                                    <input
                                        placeholder="latitude"
                                        v-model="latitude"/>
                                    <input
                                        placeholder="longitude"
                                        v-model="longitude"/>
                                    
                                    {{ errorMessage }}

                                    <button v-on:click="createOffer">create offer</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Your demands:</strong>
                                    <br />
                                    <div v-for="demand in userData.demandArray">
                                        Content type: {{demand.contentType}}
                                        <br />
                                        Content quantity: {{demand.contentQuantity}}
                                        <br />
                                        Expiry date: {{demand.expiryDate}}
                                        <br />
                                        Address:
                                        <br />
                                        {{demand.address.streetName}}, {{demand.address.houseNumber}}
                                        <br />
                                        {{demand.address.postCode}}, {{demand.address.city}}
                                        <br />
                                        Look within ditance of {{demand.distance}} meters.
                                        <br />
                                        ______
                                    </div>    
                                </td>
                                <td>
                                    <input
                                        placeholder="contentType"
                                        v-model="contentType"/>
                                    <input
                                        placeholder="contentQuantity"
                                        v-model="contentQuantity"/>
                                    <input 
                                        type="date"
                                        placeholder="expiryDate: dd mm yyyy"
                                        v-model="expiryDate"/>
                                    <input
                                        placeholder="streetName"
                                        v-model="streetName"/>
                                    <input
                                        placeholder="houseNumber"
                                        v-model="houseNumber"/>
                                    <input
                                        placeholder="postCode"
                                        v-model="postCode"/>
                                    <input
                                        placeholder="city"
                                        v-model="city"/>
                                    <input
                                        placeholder="country"
                                        v-model="country"/>
                                    <input
                                        placeholder="latitude"
                                        v-model="latitude"/>
                                    <input
                                        placeholder="longitude"
                                        v-model="longitude"/>
                                    <input
                                        placeholder="distance in meters"
                                        v-model="distance"/>
                                    
                                    {{ errorMessage }}

                                    <button v-on:click="createDemand">create demand</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <strong>Your matches:</strong>
                                <br />
                                <div v-for="matches in userData.matchesArray">
                                    <strong>For the demand:</strong>
                                    <br />
                                    Content type: {{matches.demand.contentType}}
                                    <br />
                                    Content quantity: {{matches.demand.contentQuantity}}
                                    <br />
                                    Expiry date: {{matches.demand.expiryDate}}
                                    <br />
                                    Address:
                                    <br />
                                    {{matches.demand.address.streetName}}, {{matches.demand.address.houseNumber}}
                                    <br />
                                    {{matches.demand.address.postCode}}, {{matches.demand.address.city}}
                                    <br />
                                    Look within ditance of {{matches.demand.distance}} meters.
                                    <br />
                                    <strong>_____</strong>
                                    <br />
                                    The following offers:
                                    <br />
                                    <div v-for="offer in matches.matchingOffers">
                                        Content type: {{offer.contentType}}
                                        <br />
                                        Content quantity: {{offer.contentQuantity}}
                                        <br />
                                        Expiry date: {{offer.expiryDate}}
                                        <br />
                                        From: {{offer.user.name}}
                                        <br />
                                        Address:
                                        <br />
                                        {{offer.address.streetName}}, {{offer.address.houseNumber}}
                                        <br />
                                        {{offer.address.postCode}}, {{offer.address.city}}
                                        <br />
                                        <button v-on:click="selectOffer(offer.offer_id, matches.demand.demand_id)">select offer</button>
                                        <br />
                                        ______
                                    </div>
                                </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Your matched selection pairs for your demands: </strong>
                                    <br />
                                    <div v-for="demandOfferPair in userData.selectionPairs[0]">
                                    <strong>For the demand:</strong>
                                    <br />
                                    Content type: {{demandOfferPair.demand.contentType}}
                                    <br />
                                    Content quantity: {{demandOfferPair.demand.contentQuantity}}
                                    <br />
                                    Expiry date: {{demandOfferPair.demand.expiryDate}}
                                    <br />
                                    Address:
                                    <br />
                                    {{demandOfferPair.demand.address.streetName}}, {{demandOfferPair.demand.address.houseNumber}}
                                    <br />
                                    {{demandOfferPair.demand.address.postCode}}, {{demandOfferPair.demand.address.city}}
                                    <br />
                                    Look within ditance of {{demandOfferPair.demand.distance}} meters.
                                    <br />
                                    <strong>the following offer:</strong>
                                    <br />
                                    Content type: {{demandOfferPair.offer.contentType}}
                                    <br />
                                    Content quantity: {{demandOfferPair.offer.contentQuantity}}
                                    <br />
                                    Expiry date: {{demandOfferPair.offer.expiryDate}}
                                    <br />
                                    From: {{demandOfferPair.offer.user.name}}
                                    <br />
                                    Address:
                                    <br />
                                    {{demandOfferPair.offer.address.streetName}}, {{demandOfferPair.offer.address.houseNumber}}
                                    <br />
                                    {{demandOfferPair.offer.address.postCode}}, {{demandOfferPair.offer.address.city}}
                                    <br />
                                    Contact {{demandOfferPair.offer.user.name}} at: {{demandOfferPair.offer.user.email}}
                                    <br />
                                    <strong>_____</strong>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Your matched selection pairs for your offers: </strong>
                                    <br />
                                    <div v-for="demandOfferPair in userData.selectionPairs[1]">
                                    <strong>For the offer:</strong>
                                    <br />
                                    Content type: {{demandOfferPair.offer.contentType}}
                                    <br />
                                    Content quantity: {{demandOfferPair.offer.contentQuantity}}
                                    <br />
                                    Expiry date: {{demandOfferPair.offer.expiryDate}}
                                    <br />
                                    Address:
                                    <br />
                                    {{demandOfferPair.offer.address.streetName}}, {{demandOfferPair.offer.address.houseNumber}}
                                    <br />
                                    {{demandOfferPair.offer.address.postCode}}, {{demandOfferPair.offer.address.city}}
                                    <br />
                                    <strong>the following demand:</strong>
                                    <br />
                                    Content type: {{demandOfferPair.demand.contentType}}
                                    <br />
                                    Content quantity: {{demandOfferPair.demand.contentQuantity}}
                                    <br />
                                    Expiry date: {{demandOfferPair.demand.expiryDate}}
                                    <br />
                                    From: {{demandOfferPair.demand.user.name}}
                                    <br />
                                    Address:
                                    <br />
                                    {{demandOfferPair.demand.address.streetName}}, {{demandOfferPair.demand.address.houseNumber}}
                                    <br />
                                    {{demandOfferPair.demand.address.postCode}}, {{demandOfferPair.demand.address.city}}
                                    <br />
                                    Contact {{demandOfferPair.demand.user.name}} at: {{demandOfferPair.demand.user.email}}
                                    <br />
                                    <strong>_____</strong>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            `,
            methods: {
                createOffer() {

                    if (!this.contentType) {
                        this.errorMessage = "You need to specify what you have to offer.";
                        return;
                    }

                    if (!this.contentQuantity) {
                        this.errorMessage = "You need to specify how much you have to offer.";
                        return;
                    }

                    if (!this.expiryDate) {
                        this.errorMessage = "You need to specify how long your offer is available. Please use the format: dd mm yyyy (e.g. 06 01 2020).";
                        return;
                    }

                    if (!this.streetName) {
                        this.errorMessage = "You need to specify the street where people can pick up your offer.";
                        return;
                    }

                    if (!this.houseNumber) {
                        this.errorMessage = "You need to specify the house number where people can pick up your offer.";
                        return;
                    }

                    if (!this.postCode) {
                        this.errorMessage = "You need to specify the post code where people can pick up your offer.";
                        return;
                    }

                    if (!this.city) {
                        this.errorMessage = "You need to specify the city where people can pick up your offer.";
                        return;
                    }

                    if (!this.country) {
                        this.errorMessage = "You need to specify the country where people can pick up your offer.";
                        return;
                    }

                    if (!this.latitude) {
                        this.errorMessage = "You need to specify the latitude where people can pick up your offer.";
                        return;
                    }

                    if (!this.longitude) {
                        this.errorMessage = "You need to specify the longitude where people can pick up your offer.";
                        return;
                    }

                    this.errorMessage = "";

                    this.$emit('offer-created', this.contentType, this.contentQuantity, this.expiryDate, this.streetName, this.houseNumber, this.postCode, this.city, this.country, this.latitude, this.longitude, this.userData.user.userid);
                },
                createDemand() {

                    if (!this.contentType) {
                        this.errorMessage = "You need to specify what you need.";
                        return;
                    }

                    if (!this.contentQuantity) {
                        this.errorMessage = "You need to specify how much you need.";
                        return;
                    }

                    if (!this.expiryDate) {
                        this.errorMessage = "You need to specify how long you are looking for your demand. Please use the format: dd mm yyyy (e.g. 06 01 2020).";
                        return;
                    }

                    if (!this.streetName) {
                        this.errorMessage = "You need to specify the street where you need your demand.";
                        return;
                    }

                    if (!this.houseNumber) {
                        this.errorMessage = "You need to specify the house number where you need your demand.";
                        return;
                    }

                    if (!this.postCode) {
                        this.errorMessage = "You need to specify the post code where you need your demand.";
                        return;
                    }

                    if (!this.city) {
                        this.errorMessage = "You need to specify the city where you need your demand.";
                        return;
                    }

                    if (!this.country) {
                        this.errorMessage = "You need to specify the country where you need your demand.";
                        return;
                    }

                    if (!this.latitude) {
                        this.errorMessage = "You need to specify the latitude where you need your demand.";
                        return;
                    }

                    if (!this.longitude) {
                        this.errorMessage = "You need to specify the longitude where you need your demand.";
                        return;
                    }

                    if (!this.distance) {
                        this.errorMessage = "You need to specify the distance you want to cover for your demand. Please specify the distance in meters."
                    }

                    this.errorMessage = "";

                    this.$emit('demand-created', this.contentType, this.contentQuantity, this.expiryDate, this.streetName, this.houseNumber, this.postCode, this.city, this.country, this.latitude, this.longitude, this.distance, this.userData.user.userid);
                },
                selectOffer(offer_id, demand_id) {
                    this.$emit('offer-selected', offer_id, demand_id, this.userData.user.userid);
                }
            }
        });

        const app = new Vue ({
            el: '#app',

            data: {
                userData: undefined,
            },

            computed: {
                userLoggedIn() {
                    return this.userData != undefined;
                },

            },

            methods: {
                async logIn(name, email, password) {
                    const response = await fetch('login', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name: name, email: email, password: password })
                    });
                    const userData = await response.json();

                    this.userData = userData;

                    this.user = userData[0];

                },

                async createOffer(contentType, contentQuantity, expiryDate, streetName, houseNumber, postCode, city, country, latitude, longitude, userid) {
                    const response = await fetch('profilepage/offerhandler', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ contentType: contentType, contentQuantity: contentQuantity, expiryDate: expiryDate, streetName: streetName, houseNumber: houseNumber, postCode: postCode, city: city, country: country, latitude: latitude, longitude: longitude, userid: userid})
                    });
                    const userData = await response.json();

                    this.userData = userData;
                },

                async createDemand(contentType, contentQuantity, expiryDate, streetName, houseNumber, postCode, city, country, latitude, longitude, distance, userid) {
                    const response = await fetch('profilepage/demandhandler', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({contentType: contentType, contentQuantity: contentQuantity, expiryDate: expiryDate, streetName: streetName, houseNumber: houseNumber, postCode: postCode, city: city, country: country, latitude: latitude, longitude: longitude, distance: distance, userid: userid})
                    });
                    const userData = await response.json();

                    this.userData = userData;
                },

                async selectOffer(offer_id, demand_id, userid) {
                    const response = await fetch('profilepage/selectionhandler', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({offer_id: offer_id, demand_id: demand_id, userid: userid})
                    });
                    const userData = await response.json();

                    this.userData = userData;
                }
            }
        });
    </script>
</body>
</html>