<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Matcher</title>
    <script
            src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
</head>
<body>

    <div id="app">
        <login-screen
            v-if="!userLoggedIn"
            v-on:user-confirmed="logIn">
        </login-screen>

        <profile-screen
            v-else
            v-bind:user="user"
            v-bind:offer="offer"
            v-on:offer-created="createOffer">
        </profile-screen>
    </div>

    <script>        
        Vue.component('login-screen', {
        data() {
            return {
                name: undefined,
                email: undefined,
                password: undefined,
                errorMessage: "",
            }
        },
        template: `
            <div>
            <input
                placeholder="name"
                v-model="name"/>

            <input
                placeholder="email"
                v-model="email" />

            <input type="password"
                placeholder="password"
                v-model="password" />

            {{ errorMessage }}

            <button v-on:click="confirmUser">login</button>
            </div>
        `,
        methods: {
            confirmUser() {
                if (!this.email) {
                    this.errorMessage = "Your email address is required";
                    return;
                }

                if (!this.password) {
                    this.errorMessage = "A password is required";
                    return;
                }

                this.errorMessage = "";

                this.$emit('user-confirmed', this.name, this.email, this.password);
            }
        }
        });

        Vue.component('profile-screen', {
            props: [ 'user' , 'offer'],
            template: `
                <div>
                    <table style="width: 100%;" border="1">
                        <tbody>
                            <tr>
                                <td>personal information: </td>
                                <td>
                                    Your user id: {{user.user_id}}
                                    <br />
                                    Your name: {{user.name}}
                                    <br />
                                    Your email-address: {{user.email}}
                                    <br />
                                    Your password: {{user.password}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>offers: </td>
                                <td>
                                    Your offers:
                                </td>
                                <td>
                                    <input
                                        placeholder="contentType"
                                        v-model="contentType"/>
                                    <input
                                        placeholder="contentQuantity"
                                        v-model="contentQuantity"/>
                                    <input 
                                        type="date"
                                        placeholder="expiryDate: dd mm yyyy"
                                        v-model="expiryDate"/>
                                    <input
                                        placeholder="streetName"
                                        v-model="streetName"/>
                                    <input
                                        placeholder="houseNumber"
                                        v-model="houseNumber"/>
                                    <input
                                        placeholder="postCode"
                                        v-model="postCode"/>
                                    <input
                                        placeholder="city"
                                        v-model="city"/>
                                    <input
                                        placeholder="country"
                                        v-model="country"/>
                                    <input
                                        placeholder="latitude"
                                        v-model="latitude"/>
                                    <input
                                        placeholder="longitude"
                                        v-model="longitude"/>
                                    
                                    {{ errorMessage }}

                                    <button v-on:click="createOffer">create offer</button>
                                </td>
                            </tr>
                            <tr>
                                <td>demands: </td>
                                <td>demand_data</td>
                                <td>create demand</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            `,
            methods: {
            createOffer() {

                console.log("Inside createOffer method of vue-component profilescreen...");

                if (!this.contentType) {
                    this.errorMessage = "You need to specify what you have to offer.";
                    return;
                }

                if (!this.contentQuantity) {
                    this.errorMessage = "You need to specify how much you have to offer.";
                    return;
                }

                if (!this.expiryDate) {
                    this.errorMessage = "You need to specify how long your offer is available. Please use the format: dd mm yyyy (e.g. 06 01 2020).";
                    return;
                }

                if (!this.streetName) {
                    this.errorMessage = "You need to specify the street where people can pick up your offer.";
                    return;
                }

                if (!this.houseNumber) {
                    this.errorMessage = "You need to specify the house number where people can pick up your offer.";
                    return;
                }

                if (!this.postCode) {
                    this.errorMessage = "You need to specify the post code where people can pick up your offer.";
                    return;
                }

                if (!this.city) {
                    this.errorMessage = "You need to specify the city where people can pick up your offer.";
                    return;
                }

                if (!this.country) {
                    this.errorMessage = "You need to specify the country where people can pick up your offer.";
                    return;
                }

                if (!this.latitude) {
                    this.errorMessage = "You need to specify the latitude where people can pick up your offer.";
                    return;
                }

                if (!this.longitude) {
                    this.errorMessage = "You need to specify the longitude where people can pick up your offer.";
                    return;
                }

                this.errorMessage = "";

                this.$emit('offer-created', this.contentType, this.contentQuantity, this.expiryDate, this.streetName, this.houseNumber, this.postCode, this.city, this.country, this.latitude, this.longitude, this.user.user_id);
            }
            }
        });

        const app = new Vue ({
            el: '#app',

            data: {
                user: undefined,
                offer: undefined
            },

            computed: {
                userLoggedIn() {
                    return this.user != undefined;
                },
                offerCreated() {
                    console.log("Inside 'offerCreated' computed method of vue app...");
                    return this.offer != undefined;
                }
            },

            methods: {
                async logIn(name, email, password) {
                    const response = await fetch('login', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name: name, email: email, password: password })
                    });
                    const user = await response.json();

                    this.user = user;
                },
                async createOffer(contentType, contentQuantity, expiryDate, streetName, houseNumber, postCode, city, country, latitude, longitude, user_id) {
                    console.log("Inside 'createOffer' method of vue app...");
                    const response = await fetch('profilepage/offer', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ contentType: contentType, contentQuantity: contentQuantity, expiryDate: expiryDate, streetName: streetName, houseNumber: houseNumber, postCode: postCode, city: city, country: country, latitude: latitude, longitude: longitude, user_id: user_id})
                    });
                    const offer = await response.json();

                    this.offer = offer;
                }
            }
        });
    </script>
</body>
</html>